<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalice.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo"> 
                <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
            </div>
            <div class="form" action="#" method="GET">
                   <input type="text" name="" id="InputBusqueda" placeholder="Buscar productos, marcas">
                   <button type="button" onclick=""><i class="fa fa-search"></i></button>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    
     <main> 
        <form action="#" method="post" class="register">

            <input type="text" name="fullname" id="fullname" autocomplete="name"  placeholder="Nombre y apellido" minlength="2" class="box" required >
            <input type="text" name="user" id="user" autocomplete="username" placeholder="Nombre de usuario"  class="box" required>
            <input type="email" name="email" id="email" autocomplete="email" placeholder="E-mail" class="box" required>

            <label for="FechaNacimiento" class="subtitulos">Fecha de Nacimiento</label>
            <input type="date" name="FechaNacimiento" id="FechaNacimiento" class="box" required >

            <input type="text" name="user" id="domicilio" autocomplete="street-address" placeholder="Domicilio" class="box" required>


            <label for="" class="subtitulos">Perfil del usuario</label>
            <div class=perfil_user>
                <label>
                    <input type="radio" name="perfil" 
                    value="si">Comprador
                </label>
                <label>
                    <input type="radio" name="perfil" 
                    value="vendedor">Vendedor
                </label>
            </div>

            <label for="" class="subtitulos">Intereses</label>
            <div class="intereses">
                <label for=""><input type="checkbox" name="categorias" id="">Electro</label>
                <label for=""><input type="checkbox" name="categorias" id="">Moda</label>
                <label for=""><input type="checkbox" name="categorias" id="">Hogar</label>
                <label for=""><input type="checkbox" name="categorias" id="">Jugetería</label>
                <label for=""><input type="checkbox" name="categorias" id="">Vida Sana</label>
            </div>

            <label for="fotouser" class="subtitulos">Foto de usuario</label>
            <input type="file" name="fotouser" id="fotouser" accept=".jpg,.png" required>

            <input type="password" name="password" id="password" autocomplete="new-password" placeholder="Contraseña" class="box" required>
            <input type="password" name="confirmpassword" id="confirmpassword" autocomplete="new-password" placeholder="Confirma contraseña" class="box" required>

            <input class="button" type="submit" value="Enviar">
            <input class="button" type="reset" value="Borrar">
        </form>
    </main> 
    <footer>
        <section class="footer-seccion">
            <div class="fotter-icon-tarjeta">
                <i class="fas fa-credit-card fotter-Icon-i"></i>
            </div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p class=footer-seccion-p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>    
        <section class="footer-seccion">
            <div class="fotter-icon-regalo">
                <i class="fas fa-gift fotter-Icon-i">
                </i>
            </div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p class=footer-seccion-p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            
        </section>
        <section class="footer-seccion">
            <div class="footer-icon">
                <i class="fas fa-user-shield fotter-Icon-i"></i>
            </div>
            <h3>Seguridad, de principio a fin</h3>
            <p class=footer-seccion-p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section class="footer-seccion copyright">
            <p class="Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>